* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

body {
  overflow: auto;
  height: 100%;
  overscroll-behavior: none;
  min-width: 1424px;
}

.container {
  /* looked at online resouces to make sure my footer always stay at the bottom.*/
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  background: #5868dc;
}

header {
  height: 80px;
}

h1 {
  text-align: center;
  font-size: 3rem;
  padding: 3px;

  color: #fdfdfe;
  font-family: fantasy;

  background-color: #3946aa;
}

.main-container {
  width: auto;
  height: 100%;
  /* display: flex; */
  min-width: 100%;
  min-height: 100%;
}

.button-section {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.button-section > .add-book-btn {
  height: 35px;
  width: 150px;
  font-size: 1.25rem;
  border: none;
  border-radius: 20px;
  background-color: #00b7dd;
  color: #f4fbfd;
}

.button-section > .add-book-btn:hover {
  background-color: #32c5e3;
}

dialog {
  margin: 10% auto;
  width: 80%;
  height: 58%;
  max-width: 520px;
  max-height: 350px;
  background-color: #fff;
  padding: 34px;
  border: 0;
  border-radius: 5px;
  background-color: #191919;
}

dialog > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

dialog::backdrop {
  backdrop-filter: blur(5px);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
}

.modal > h2 {
  color: #fec853;
  padding-bottom: 15px;
}

.title > label,
.author > label,
.pages > label,
.unread,
.reading,
.completed,
.customValue {
  color: #f7f7f7;
}

input {
  background-color: #212121;
  border: none;
  color: #acacac;
}

input:focus {
  outline: 2px solid #fec853;
}

legend {
  color: #f7f7f7;
}

input[type="radio"] {
  accent-color: #fec853;
}

fieldset {
  width: 470px;
}

.error {
  font-size: 0.6rem;
  font-weight: lighter;
}

.buttons-form {
  text-align: center;
}

.buttons-form > .submit-button {
  background-color: #fec853;
  border: none;
  color: #f7f7f7;
  font-weight: bolder;
  width: 75px;
  height: 25px;
}

.buttons-form > .submit-button:hover {
  background-color: #cba042;
}

.buttons-form > .cancel-button {
  color: #dcdcdc;
  font-weight: bolder;
  width: 75px;
  height: 25px;
  background-color: #191919;
  border: none;
  border-color: #fec853;
}

.buttons-form > .cancel-button:hover {
  background-color: #2f2f2f;
}

.main-section {
  width: 100%;
  height: auto;
}

.main-section > .book-list-section {
  padding: 0.5rem;
  width: auto;
  display: grid;

  grid-template-columns: 455px 455px 455px;
  /* grid-template-columns: repeat(auto-fill, minmax(459px, 1fr)); */

  gap: 20px;
}

.grid {
  background-color: #8dc1fc;
  height: 275px;
  width: auto;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid > .grid-layout {
  height: 80%;
  width: 90%;
  display: flex;
}

.status-container {
  height: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.status-container > .statusHeading {
  color: #0e1319;
  font-family: Copperplate;
}

.status-container > .status-layout {
  background-color: #46607e;
  height: 70%;
  width: 95%;
  border-radius: 50%;
}

.bookInfo-container {
  height: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.bookTitle-label,
.AuthorName-label,
.TotalPageNumber-label {
  color: #1c2632;
  font-family: Copperplate;
  background-color: #46607e;
  color: #fff;
  font-size: 1.25rem;
}

.button-layout {
  height: auto;
  display: flex;
  gap: 10px;
}

.edit-btn,
.delete-btn {
  height: 45px;
  width: 45px;
  border: none;
  border-radius: 50px;
}

.edit-btn {
  background-color: #ffde07;
}

.edit-btn:hover {
  background-color: #ffe751;
}

.editIcon-img,
.deleteIcon-img {
  width: 28px;
  height: 28px;
  border: none;
  outline: none;
}

.delete-btn {
  background-color: #ff0000;
}

.delete-btn:hover {
  background-color: #ff4c4c;
}

footer h3,
footer h3 a {
  text-align: center;
  background-color: #3946aa;
  color: #fdfdfe;
  font-size: 20px;
  padding: 25px;
}

footer h3 a {
  color: #fdfdfe;
  background-color: #3946aa;
}

footer {
  margin-top: auto;
}

button {
  cursor: pointer;
}
