* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
  overscroll-behavior: none;
}

.container {
  /* looked at online resouces to make sure my footer always stay at the bottom.*/
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  background: #5868dc;
}

header {
  height: 80px;
}

h1 {
  text-align: center;
  font-size: 3rem;
  padding: 3px;

  color: #fdfdfe;
  font-family: fantasy;

  background-color: #3946aa;
}

.main-container {
  width: auto;
  height: 100%;
  /* display: flex; */
}

.button-section {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.button-section > .add-book-btn,
.button-section > .show-staticis-btn {
  height: 35px;
  width: 150px;
  font-size: 1.25rem;
  border: none;
  border-radius: 20px;
  background-color: #00b7dd;
  color: #f4fbfd;
  cursor: pointer;
}
dialog {
  margin: 10% auto;
  width: 80%;
  height: 58%;
  max-width: 520px;
  max-height: 350px;
  background-color: #fff;
  padding: 34px;
  border: 0;
  border-radius: 5px;
  background-color: #191919;
}

dialog > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

dialog::backdrop {
  backdrop-filter: blur(5px);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
}

.modal > h2 {
  color: #fec853;
  padding-bottom: 15px;
}

.title > label,
.author > label,
.pages > label,
.unread,
.reading,
.completed,
.customValue {
  color: #f7f7f7;
}

input {
  background-color: #212121;
  border: none;
  color: #acacac;
}

input:focus {
  outline: 2px solid #fec853;
}

legend {
  color: #f7f7f7;
}

input[type="radio"] {
  accent-color: #fec853;
}

fieldset {
  width: 470px;
}

.error {
  font-size: 0.6rem;
  font-weight: lighter;
}

.buttons-form {
  text-align: center;
}

.buttons-form > .submit-button {
  background-color: #fec853;
  border: none;
  color: #f7f7f7;
  font-weight: bolder;
  width: 75px;
  height: 25px;
  cursor: pointer;
}

.buttons-form > .cancel-button {
  color: #dcdcdc;
  font-weight: bolder;
  width: 75px;
  height: 25px;
  background-color: #191919;
  border: none;
  border-color: #fec853;
  cursor: pointer;
}
.main-section {
  width: 100%;
  height: auto;
}

.main-section > .book-list-section {
}

footer h3,
footer h3 a {
  text-align: center;
  background-color: #3946aa;
  color: #fdfdfe;
  font-size: 20px;
  padding: 25px;
}

footer h3 a {
  color: #fdfdfe;
  background-color: #3946aa;
}

footer {
  margin-top: auto;
}
